body{
    background-color: #EFEFEF;
    font-family: 'Montserrat', sans-serif;
}

main{
    display: grid;
    place-items: center;
}

.formulario{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    background-color: #f6f7fc;
    box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-top: 10%;
    padding: 8px;
}

.img-info{
    width: 78%;
}

.controle-form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
}

label{
    padding: 12px;
    display: grid;
    place-items: center;
    }

input{
    border-radius: 10px;
    border: 1px solid black;
    height: 24px;
    padding: 3px;
}

